
* { margin: 0; padding: 0; }

html { overflow-y: scroll; }

@keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 0% -2500%
	}
}

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

body { 
	font: 10px/2 "Lucida Grande", Helvetica, Sans-Serif;
	color: #eee;
}

#background {
	background: black url(background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	animation-name: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#midground {
	background: url(midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	animation-name: STAR-MOVE;
	animation-duration: 150s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	
}