

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: black;
}

.title {
    color: black;
    text-shadow: -2.5px 0 gold, 0 2.5px gold, 2.5px 0 gold, 0 -2.5px gold;
    font-family: 'Source Sans Pro', sans-serif;
}

.Menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inner {
    display: inline-block;
}

.menu-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cecccc; 
    border: none;
    color: black;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
}


.menu-button:hover {
    background-color: black; 
    color: white; 
    border: 2.5px solid gold;
}