.admintimeline-title{
    color: black;
    position: relative;
    z-index: 300;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
    text-shadow: -2.5px 0 gold, 0 2.5px gold, 2.5px 0 gold, 0 -2.5px gold;
    font-family: 'Star Jedi', arial;
    font-size: 62px;
}

.admintimeline-button{
    margin-left: 10px;
    margin-right: 10px;
    background-color:transparent; 
    border: 2.5px solid gold;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
}

.admintimeline-button:hover {
    background-color: gold; 
    color: black; 
}