  .search {
    /* margin: 10px auto 2rpx auto; */
    /* text-align: right;
    position: relative; */
    padding: 1em 0em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: transparent; 
    display: block;
    border: none;
    transition-duration: 0.4s;
    transform: none;
    border: 2px solid rgb(223, 201, 80); 
  }
  /* .search:hover {
    background-color: transparent; 
    color: black; 
    border: 2.5px solid rgb(223, 201, 80);
  } */

  .search-box {
      background-color: transparent;
      color: white;
      padding: .25em;
      border: 2px solid rgb(223, 201, 80); 
      border-radius: 10px;
      width: 240px;
      height: 30px;
      font-size: 13px;
  }

  .search-button {
    width: 50%;
    outline: none;
    border: none;
    border-radius: 10px;
    opacity: 1;
    font-size: 12px;
    margin-top: .5em;
    background-color: transparent; 
    color: white;
    border: 2px solid rgb(223, 201, 80); 

  }

  .search-button:hover {
      background-color: rgb(223, 201, 80); 
      color: black; 

  }

  .options {
    font-size: 12.5px;
    width: 100%;
    position: relative;
    left: 1em;
    color: white;
    text-align: left;
  }

  .options:hover {
    cursor: pointer;
  }
  
  .option-item {
    width: 100%;
    font-size: 12.5px;
    color: rgb(223, 201, 80);
    font-weight: 650;
    text-shadow: .08em .08em .1em black;
  }

  .option-item:hover {
    cursor: pointer;
  }



  .no-options {
    font-size: 15px;
    color: red;
  }

  