nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    z-index: 300;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    z-index: 300;
}