  .search {
    /* margin: 10px auto 2rpx auto; */
    /* text-align: right;
    position: relative; */
    padding: 6px 8px 6px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: #cecccc; 
    display: block;
    border: none;
    transition-duration: 0.4s;
    transform: none;
  }
  .search:hover {
    background-color: transparent; 
    color: black; 
    border: 2.5px solid gold;
  }

  .search-box {
      background-color: #cecccc;
      border-style: solid;
      border-radius: 10px;
      width: 90px;
      height: 30px;
      font-size: 13px;
  }

  .search-button {
    outline: none;
    border: none;
    border-radius: 10px;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 2.5px 2.5px 2.5px 2.5px;
  }

  .search-button:hover {
      background-color: transparent; 
      color: white; 
      border: 1px solid gold;
  }

  .options {
    font-size: 12.5px;
    color: white;
  }
  .option-item {
    font-size: 12.5px;
    color: gold;
  }

  .no-options {
    font-size: 15px;
    color: red;
  }

  