
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: black;
  position: relative;
  z-index: 300;
}
.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: black;
  position: relative;
  z-index: 300;
  transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
}

.title {
    color: black;
    text-shadow: -2.5px 0 gold, 0 2.5px gold, 2.5px 0 gold, 0 -2.5px gold;
    font-family: 'Star Jedi', arial;
    font-size: 2em;
}

.Sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inner {
    display: inline-block;
}

.Sidebar-button {
    margin-left: 10px;
    margin-right: 10px;  
    border: none;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    color: white;
    border: 2px solid gold;
}


.Sidebar-button:hover {
    background-color: gold; 
    color: black; 
}

.sidenav {
  width: 130px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 13%;
  left: 90%;
  background: transparent;
  overflow-x: hidden;
  padding: 8px 0;
  transition-duration: 0.4s;
}

.sidenav-button {
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  border: none;
  width: 120px;
  text-align: center;
  left: 5px;
  position: relative;
  transition-duration: 0.4s;
  background-color: transparent; 
  color: white;
  border: 2.5px solid gold;
}

.sidenav-button:hover {
  background-color: gold;; 
  color: black; 
 
}

#sort-dropdown-label {
  position: relative;
  bottom: 35px;
  color: white;
  font-size: .6em;
}

#dropdown {
  position: relative;
  width: 100px;
  height: 30px;
  align-content: center;
  bottom: 80px;
  font-size: .4em;
}

.sort-option {
  font-size: .2em;
}

#sort-go {
  position: relative;
  bottom: 100px;
}

#sort-go:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

