.card-header {
    color: rgb(223, 201, 80);
    font-family: "ITC Serif Gothic", Lato;
    position: relative;
    font-size: 2.6em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    max-width: 400px;
    align-content: center;
    left: 25px;
    overflow-wrap: break-word;
    hyphens: auto;
    border-style: solid;
    
}

.timelineItem {
    width: 450px;
    height: 200px;
    border: 1px solid #dcdcdc;
    background: black;
    box-shadow: 5px 5px 5px white;
    margin-bottom: 100px;
}

.odd {
    position: relative;
    left: 640px;
}
.even {
    position: relative;
    left: 90px;
}

.unidiv {
    font-family: "ITC Serif Gothic", Lato;
    text-align: center;
    font-size: 2em;
}

.mediadiv {
    font-family: "ITC Serif Gothic", Lato;
    text-align: center;
    font-size: 2em;
}

.timelineItem:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}