.timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
}

.timeline-content::after {
    content: '';
    background-color: #cecccc;
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
} 

.timelineItem {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    width: 50%;
}
.timelineItem:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
} 
