.card-header {
    color: rgb(223, 201, 80);
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.6em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    max-width: 301px;
}

.card-header:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}