/* .card {
    background-image: url(../img/lightsabers.png);
    background-color: black;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    height: 400px;
    width: 375px;
    border-radius: 10px;
    margin-bottom: 20px;
}
/
.card-title {
    color: rgb(223, 201, 80);
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.6em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow-wrap: break-word;
    hyphens: auto;
    bottom: 30px;
    left: 30px;
    max-width: 301px;
} 

li {
    max-width: 80%;
}

.description {
    max-width: 80%;
    text-align: center;
}

.rating-container {
    align-content: center;
    position: relative;
    text-align: center;
    top: 15px;
    right: 48px;
}

.glyphicon {
    left: 343px;
    top: 18px;
    font-size: 1.8em;
    color: rgb(223, 201, 80);
    z-index: 1000;
}

.glyphicon:hover {
    cursor: pointer;
}
 */
