.card-header {
     color: rgb(223, 201, 80);
    font-family: "ITC Serif Gothic", Lato;
    position: relative;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    overflow-wrap: break-word;
    hyphens: auto;
    border-style: solid; 
    
}

.timelineItem .content {
    border: 1px solid #dcdcdc;
    background: black;
    /* box-shadow: 5px 5px 5px white; */
}


.unidiv {
    font-family: "ITC Serif Gothic", Lato;
    text-align: center;
    font-size: 2em;
}

.mediadiv {
    font-family: "ITC Serif Gothic", Lato;
    text-align: center;
    font-size: 2em;
}

.timelineItem:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}