.timeline {
    position: relative;
    margin: 0 auto;
    height: 100px;
    bottom: 70px;
}

.timeline-content {
    position: relative;
    top: 146px;
    left: 130px;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1000px;
    width: 15px;
    background-color: white;
    top: 130px;
    bottom: 0;
    right: 160px;
    margin-left: -3px;
    z-index: 1000;
}

/* 
.timeline-items {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -12px;
	display: flex;
	justify-content: space-between;
}

.timeline-item {
	position: relative;
}

.timeline-item::before {
	content: '';
	width: 20px;
	height: 20px;
	background-color: #ccc;
	display: block;
	border-radius: 100%;
} */
