.timeline-content {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    position: relative;
}

.timeline-content::after {
    content: '';
    background-color: #cecccc;
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
} 

.timelineItem {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    position: relative;
    padding-right: 5%;
}
.timelineItem:nth-child(odd) {
    padding-left: 5%;
    padding-right: 0;
    align-self: flex-end;
    justify-content: flex-start;

} 
